<!DOCTYPE html>
<html manifest="check.appcache">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link type="text/css" rel="stylesheet" href="hfjFonts_min.css">
<style>
html,
body {
    width: 100%;
    height: 100%;
    background: #16222A;
    background: -webkit-linear-gradient(to bottom, #3A6073, #16222A) fixed;
    background: linear-gradient(to bottom, #3A6073, #16222A) fixed;
    color: #fff;
    background-repeat: no-repeat;
    background-position: 0 0;
    -webkit-background-size: cover;
    background-size: cover;
}

label.label {
    font-size: 22px;
    font-weight: 100;
    padding: 0;
    letter-spacing: 1.5px;
}

input {
    font-weight: bold;
}
</style>

<body><img src="https://99designs-start-attachments.imgix.net/alchemy-pictures/2016%2F02%2F22%2F04%2F07%2F21%2F9757e437-5ec1-4378-804f-ca0f9567c110%2F380048_Widakk.png?auto=format&amp;ch=Width%2CDPR&amp;w=250&amp;h=250">
    <div ng-app="myApp" ng-controller="myCtrl">
        <div class="container">
            <h2>Loan Details</h2>
            <hr>
            <div class="row">
                <div class="col-md-6">
                    <h2><span class="label label-info">Person 1</span></h2>
                    <br>
                    <br>
                    <div class="row">
                        <div class="col-md-4">
                            <label class="label">Loan Amount
                                <input type="number" ng-model="loanAmount" class="form-control">
                            </label>
                        </div>
                        <div class="col-md-4">
                            <label class="label">No. of Month
                                <input type="number" ng-model="numberOfMonths" class="form-control">
                            </label>
                        </div>
                        <div class="col-md-4">
                            <label class="label">Rate of Interest
                                <input type="number" ng-model="rateOfInterest" class="form-control">
                            </label>
                        </div>
                        <div class="col-md-4">
                            <br>
                            <br>
                            <h2><span class="label label-danger">EMI : {{emi}}</span></h2>
                        </div>
                    </div>
                    <br>
                    <br>
                    <br>
                    <div class="row">
                        <div class="col-md-4">
                            <button class="btn btn-default btn-block" ng-click="cal()">Calculate</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Number Of EMI</th>
                                <th>Opening Balance</th>
                                <th>Current Interest</th>
                                <th>Current Principal</th>
                                <th>EMI</th>
                                <th>Closing Balance</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="x in iData track by $index">
                                <td>{{$index + 1}}</td>
                                <td>{{x.openingBal}}</td>
                                <td>{{x.curRate}}</td>
                                <td>{{x.curPri}}</td>
                                <td>{{x.emi}}</td>
                                <td>{{x.closingBal}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <script>
    var app = angular.module('myApp', []);
    app.controller('myCtrl', function($scope) {

        $scope.cal = function() {
            var loanAmount = $scope.loanAmount;
            var numberOfMonths = $scope.numberOfMonths;
            var rateOfInterest = $scope.rateOfInterest;
            var monthlyInterestRatio = (rateOfInterest / 100) / 12;
            var top = Math.pow((1 + monthlyInterestRatio), numberOfMonths);
            var bottom = top - 1;
            var sp = top / bottom;
            $scope.emi = (((loanAmount * monthlyInterestRatio) * sp)).toFixed(2);
            // -------------------------------------------data array
            var closingBal = angular.copy(loanAmount);
            var openingBal = angular.copy(loanAmount);
            $scope.iData = [];
            for (var i = $scope.numberOfMonths - 1; i >= 0; i--) {
                var curRate = ((closingBal * monthlyInterestRatio)).toFixed(2);
                var curPri = (($scope.emi - curRate)).toFixed(2);
                closingBal = ((closingBal - curPri)).toFixed(2);
                var temp = {
                    "curRate": curRate,
                    "curPri": curPri,
                    "openingBal": openingBal,
                    "closingBal": closingBal,
                    "emi": $scope.emi
                }
                $scope.iData.push(temp);
                openingBal = closingBal;
            }
            console.log($scope.iData)
        }



    });
    </script>
</body>

</html>
